.wrapper {
    background-color: #fff;
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
    overflow: auto;
    padding-block: var(--padding-xxl);
}

.section * {
    color: #000;
}

.description {
    display: flex;
    flex-direction: row;
    gap: var(--padding-md);
    max-height: 60vh;
}

@media (max-width: 768px) {
    .description {
        flex-direction: column;
    }
}

.fullscreen {
    max-height: unset;
}

.editor {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: var(--padding-md);
}

.markdown {
    flex: 1;
    overflow: auto;
    gap: var(--padding-lg);
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);
}

.markdownPreview {
    flex: 1;
    overflow: auto;
    gap: var(--padding-lg);
    display: flex;
    flex-direction: column;
    padding-block: var(--padding-md);
}

.preview {
    flex: 1;
}

.header {
    display: inline-flex;
    width: 100%;
    text-align: left;
    gap: var(--padding-xl);
}

.subTitle {
    margin-bottom: var(--padding-sm);
    flex: 1;
}

/* ...existing code... */

.participantsSection {
    margin-bottom: 1.5rem;
}

.participantsList {
    display: flex;
    gap: var(--padding-md);
    align-items: center;
    flex-wrap: wrap;
    padding-left: var(--padding-sm)
}

.avatar {
    width: 100%;
    height: 100%;
}

.manage {
    width: var(--icon-md);
    height: var(--icon-md);
}