.upload {
    display: inline-flex;
    width: 100%;

}

.icon {
    font-size: var(--icon-sm);
}

.file {
    all: unset;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: var(--padding-md) var(--padding-lg);
    gap: var(--padding-md);
    border-bottom: 1px solid #454545;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}

.value {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    font-size: 1.125em;
    font-weight: 300;

    line-height: 1.35em;
    letter-spacing: -0.01em;

}

.input {
    display: none;
}