/* Navbar */

.header {
    padding-bottom: var(--navbar-height);
}

.avatar {
    display: inline-flex;
}

.buttons {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: var(--icon-lg);
    height: var(--icon-lg);

    color: white;
}

.navbar {
    z-index: 100;
    height: var(--navbar-height);
    position: fixed;
    background-color: rgba(69, 69, 69, 0.35);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 100%;

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-lg);
    gap: var(--padding-lg);
}

.menu {
    display: none;
}

.main {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

/* Navbar Link */

.link {
    padding: var(--padding-lg);
    color: white;

    transition: 0.2s ease-in-out;
    background: linear-gradient(#000000, #000000) left no-repeat, #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 0% 100%;
    font-size: 1.5rem;

    line-height: 1em;
    letter-spacing: 0em;
    text-decoration: none;
}

.link:hover {
    background-size: 100% 100%;
}

.selected {
    background-size: 100% 100%;
}

/* Navbar Typewriter */

.code {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: calc(17.14286px + 0.16807vw);
}

.logo {
    display: flex;
    gap: var(--padding-md);
    height: fit-content;
    color: black;
    font-family: "Space Mono", monospace;
    font-weight: normal;
    font-size: calc(17.14286px + 0.16807vw);
    line-height: 1em;
    letter-spacing: -0.03em;
}

.logoImage {
    width: 132px;
    height: 34px;
}

@media (max-width: 480px) {

    /* 480px copied from redligts wp site */
    .logoImage {
        width: 108px;
        height: 28px;
    }
}

.cursor {
    display: inline-block;
    width: 0.1em;
    height: 20px;
    background-color: #fff;
    margin-left: -0.1em;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Navbar Modal */

.heading {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: var(--padding-md);
    margin-bottom: var(--padding-lg);
}

/* Navbar On Size Change */

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
    }

    .fullscreen {
        background-color: unset;
        -webkit-backdrop-filter: unset;
        backdrop-filter: unset;
    }

    .buttons {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        inset: 0;
        z-index: 99;
        background-color: rgba(69, 69, 69, 0.35);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);

        transform: translateY(-100%);
        transition: all 0.4s ease-in-out;
        transition: -webkit-backdrop-filter 0;
        transition: backdrop-filter 0;
        transition: backdrop-filter 0, -webkit-backdrop-filter 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow: hidden;
    }

    .menu {
        display: flex;
    }

    .expanded+.buttons {
        height: 100vh;
        transform: translateY(0);
    }

    .link {
        font-size: 2.5rem;
    }
}