/* Hero */

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
    padding-block: var(--padding-xxl);
    height: calc(80vh - var(--navbar-height));
}

.details {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.sub {
    display: flex;
    flex-direction: column;
    gap: var(--padding-md);
}

/* HeroBackground */

.background {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: calc(80vh);
    pointer-events: none;
}

.dimmed {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Heroinformation */


.information {
    display: flex;
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: var(--padding-lg);
    gap: var(--padding-lg);
    justify-content: space-evenly;
    background-color: rgba(69, 69, 69, 0.35);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    flex-wrap: wrap;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-basis: 150px;
    flex-shrink: 0;
    min-width: 0;
}

.detail span {
    max-width: 100%;
    text-align: center;
}

.detail * {
    font-size: 1.5rem;
    color: white;
}

/* HeroJoinModal */

.action {
    width: 100%;
    flex: 0;
    white-space: nowrap;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: var(--padding-md);
}

/* HeroTitle */

.heading {
    display:flex;
    flex-direction: column;

    gap: var(--padding-sm);
}

.icon {
    font-size: var(--icon-md);
    color: #fff;

    animation: colorChange 1s infinite
}

@keyframes colorChange {
    0% {
        color: #fff;
    }

    50% {
        color: var(--color-background-secondary);
    }

    100% {
        color: #fff;
    }
}

.location {
    color: white;
}

.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: min-content;
}


@media (max-width: 1024px) {

    .icon {
        font-size: var(--icon-sm);
    }

    .wrapper {
        height: calc(100vh - var(--navbar-height));
    }

    .background {
        height: 100vh;
    }
}