.input {
    all: unset;
    position: relative;
    font-family: "Roobert";
    font-size: 1.125em;
    font-weight: 300;
    color: #000000;
    line-height: 1.35em;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #454545;
    background-color: #fff;
    box-sizing: border-box;
}

.input::placeholder {
    font-family: "Roobert";
    font-weight: normal;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2em;
    letter-spacing: 0.01em;
}

.input:hover {
    background-color: #fef5f5;
}

.suffix {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0rem 1rem;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.suffix * {
    font-size: var(--icon-medium);
}