.form {
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.button {
    flex: 1;
}