.card {
    cursor: pointer;
    border: none;
    /* filter: grayscale(1); */
    transition: 0.2s ease-in-out;


}

.card:hover {
    /* filter: grayscale(0); */
}

.card:hover .image,
.card:hover .banner {
    transform: scale(1.1);
}

.card:hover .view {
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    gap: 0.75rem;
    background-color: #fff;
}

.container>* {
    color: #000;
}

.image {
    vertical-align: middle;
    object-fit: cover;
}

.banner {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image,
.banner {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.thumbnail {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.view {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 2.5rem;
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}