.dropdown {
    position: relative;
}

.options {
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    list-style-type: none;
    z-index: 2;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.dropdown:hover .options {
    display: block;
}

.option {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: #000;
}

.option:hover {
    background-color: #fef5f5;
}

.input {
    all: unset;

    width: 100%;
    font-family: "Roobert";
    font-size: 1.125em;
    font-weight: 300;
    color: #000000;
    line-height: 1.35em;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.25rem;
    border-bottom: 1px solid #454545;
    background-color: #fff;
}

.input::placeholder {
    font-family: "Roobert";
    font-weight: normal;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2em;
    letter-spacing: 0.01em;
}

.input:hover {
    background-color: #fef5f5;
}