.button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.animation {
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.animation:hover {

    transform: scale(1.1);
}