.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
    padding-block: var(--padding-xxl);
}

.description {
    color: white;
}

.texts {
    width: 70%;
}

@media screen and (max-width: 1024px) {
    .texts {
        width: 90%;
    }
}

.wave {
    display: block;
    background-color: #fef5f5;
    height: auto;
    width: 100%;
}