.button {
    padding: 0.375rem 0.25rem;
    border: none;

    transition: 0.5s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding-inline: 0.5rem;
}

.red {
    background-color: #ff133e;
    color: #ffffff;
}

.brightRed {
    background-color: var(--color-background-secondary);
    color: #000;
}

.white {
    background-color: #fff;
    color: #000;
}

.button:hover {
    color: #fff;
    background-color: #000000;
}

.loading {
    cursor: default;
    background-color: #000000;
}