{
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 100,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "tabWidth": 4,
    "emptyBracketSpacing": true
}
